src/*.exe
src/bouichecoin
src/bouichecoind
src/test_bouichecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bouichecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
bouichecoin-qt
Bouichecoin-Qt.app

# Unit-tests
Makefile.test
bouichecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
